<div class="flex flex-col h-full max-h-full gap-4">
  <h1 class="text-3xl py-2">Admin Panel</h1>
  <div class="flex flex-col">
    <h2 class="text-2xl">Assignments Management</h2>
    <div class="flex gap-3">
      <form (ngSubmit)="createAssignments()" class="flex flex-col pt-2">
        <label for="nbAssignmentToCreate">Number of users to create</label>
        <input [(ngModel)]="nbAssignmentToCreate"
               min="0"
               max="1000"
               name="nbAssignmentToCreate"
               id="nbAssignmentToCreate"
               type="text"
               class="w-fit pl-4 pr-10 py-3 leading-none rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium cursor-pointer"
        >
        <button class="bg-blue-500 text-white rounded-md px-4 py-1 mt-4 w-fit">Create</button>
      </form>

      <div class="flex flex-col pt-2">
        <label>Delete all assignments</label>
        <button class="bg-blue-500 text-white rounded-md px-4 py-1 mt-4 w-fit" (click)="deleteAllAssignments()">Delete
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col h-full">
    <h2 class="text-2xl">Logs</h2>
    <code class="flex flex-col gap-2 bg-gray-200 w-full h-full p-5 overflow-y-auto rounded-2xl my-2">
      @for (log of loggingService.getLogs(); track log.timestamp) {
        <div class="flex flex-row gap-1">
          <span class="font-bold capitalize">[{{ formatDateTimeLog(log.timestamp) }}]</span>
          <span [ngClass]="{
                'text-red-500' : log.level == 'error',
                'text-orange-500' : log.level == 'warn',
                'text-sky-400' : log.level == 'info'}">
            [{{ log.level }}]
          </span>
          <span class="text-gray-400">[{{ log.type }}]</span>
          :
          <span>{{ log.message }}</span>
        </div>
      }
    </code>
    <div class="flex gap-3 pb-4 h-1/5t">
      <div class="flex flex-col">
        <label>Clear all logs</label>
        <button class="bg-blue-500 text-white rounded-md px-4 py-1 mt-2 w-fit" (click)="loggingService.clearLogs()">Clear</button>
      </div>
      <div class="flex flex-col">
        <label>Verbal mod</label>
        <mat-slide-toggle class="mt-2" (change)="loggingService.setVerbalLogs($event.checked)"></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
