<mat-toolbar class="flex gap-2 items-center !bg-slate-200">
  <div class="w-1/3">
    <button mat-icon-button
            (click)="toggleNav()"
            class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="w-1/3 text-center">
    <h1 class="!text-4xl">{{ title }}</h1>
  </div>
  <div class="w-1/3">

  </div>
</mat-toolbar>
<mat-drawer-container class="bg-none h-full">
  <mat-drawer mode="side" [opened]="navOpen" class="!shadow-basic">
    <nav class="flex flex-col gap-4 p-4">
      <button mat-raised-button (click)="openNewAssignmentFormSheet()">
        New assignment
      </button>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="p-4">
    <h2 class="text-xl">All assignment</h2>
    <div class="flex flex-col gap-4">
      <app-assignment-list [assignments]="getDelayedAssignments()" title="Delayed assignments"></app-assignment-list>
      <app-assignment-list [assignments]="getTodoAssignments()" title="Todo assignments"></app-assignment-list>
      <app-assignment-list [assignments]="getDoneAssignments()" title="Done assignments"></app-assignment-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<router-outlet/>
