<mat-toolbar class="flex gap-2 items-center">
  <button mat-icon-button
          (click)="toggleNav()"
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button>
  <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>
<div class="fixed w-1/3 bg-amber-50 h-full nav nav-close flex z-50" [ngClass]="{'nav-close' : !showNav}">
  <nav class="flex flex-col gap-4 p-4">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</div>
